<!--
  <예제>
    <div class="">
    <span><%= current_user.nickname %>님의</span>
    <h2>마이페이지</h2>
    </div>
    <div class="">
      <div class="">
        <div class="">
          <% if current_user.userspec != nil %>
            <%= link_to "나의피부타입 알아보기", edit_userspec_path(current_user.userspec), class: "nav-link" %>
          <% elsif %>
            <%= link_to "나의피부타입 알아보기", new_userspec_path, class: "nav-link" %>
          <% end %>
        </div>
        <div class="">내 피부 타입</div>
      </div>
      <div class="">
        <p class="">트러블</p>
        <p class="">나이</p>
        <p class="">직업</p>
      </div>
    </div>
    <div class="">
      <div class="">
        <h3>뷰티 설명서</h3>
      </div>
      <div class="">
        <h3>맞춤 제품</h3>
      </div>
    </div>
  </예제>
-->
<script language="JavaScript" type="text/javascript">
$(document).ready(function(){ 
    a = $('.m_flex').css('width');
    $('.m_flex').css('height', a); 
    $(window).resize(function() { 
        a = $('.m_flex').css('width');
        $('.m_flex').css('height', a); 
    }); 
    console.log(a);
});
</script>


<div class="my_top1">
  <span class="mt_1">정연진 님의</span>
  <br>
  <span class="mt_2">나만의 파우치</span></div>
<div class="my_top2">
  <div class="m_flex">

  </div>
  <div class="m_flex" style="background:#f475ab;border:0;">
    
  </div>
  <div class="m_flex" style="flex:2;margin-right:0px;">
    
  </div>
</div>
<div class="m_top3">
  <div class="m_3">
    뷰티 설명서
    </div>
  <div class="m_3">
    맞춤 제품
    </div>

</div>
