<div class="">
  <span><%= current_user.nickname %>님의</span>
  <h2>마이페이지</h2>
</div>
<div class="">
  <div class="">
    <div class=""><%= link_to "나의피부타입 알아보기", "/mypouch/survey", class: "nav-link" %></div>
    <div class="">내 피부 타입</div>
  </div>
  <div class="">
    <p class="">트러블</p>
    <p class="">나이</p>
    <p class="">직업</p>
  </div>
</div>
<div class="">
  <div class="">
    <h3>뷰티 설명서</h3>
  </div>
  <div class="">
    <h3>맞춤 제품</h3>
  </div>
</div>

<hr>
<%= @w %>
<%= @ut %>
