<!-- <script src="../assets/javascripts/survey.jquery.min.js"></script> -->

<!-- Face Detector -->
<div id="container">
  <div id="header">
  </div>

  <div id="content">
    <div id="urlbox">
      <div id="detect"></div>
      <div class="paragraph"></div>
    </div>

    <div id="stats">
      <a id="webworker-switch" href="#"></a>
      <span id="load-time"></span>
      <span id="detection-time"></span>
      <span id="num-faces"></span>
      <span id="image-dim"></span>
    </div>

    <div id="viewport">
      <div id="view-hint">Drag &amp; Drop<br>or <u>Select</u> To</div>
      <div id="view-horz"></div>
      <div id="view-vtic"></div>
      <div>
        <canvas id="output"></canvas>
        <input type="file" id="file-selector" accept="image/*">
      </div>
    </div>

    <div id="footer">
    </div>
  </div>
</div>

<!-- Survey -->
<div id="surveyContainer">
</div>

<!-- hidden form -->
<form action="/mypouch" method="get">
  <br><br>
  <input type="text" id="skintype" name="skintype">

  <br><br>
  <input type="text" id="wrinkle" name="wrinkle">
  <input type="text" id="sebum" name="sebum">
  <input type="text" id="stain" name="stain">
  <input type="text" id="bigpore" name="bigpore">
  <input type="text" id="down" name="down">
  <input type="text" id="atopy" name="atopy">
  <input type="text" id="pimple" name="pimple">
  <input type="text" id="skindry" name="skindry">
  <input type="text" id="eruption" name="eruption">
  <input type="text" id="deadcell" name="deadcell">
  <input type="text" id="freckle" name="freckle">
  <input type="text" id="dark" name="dark">

  <br><br>
  <input type="text" id="usertype" name="usertype">

  <br><br>
  <input type="hidden" value="설문완료" class="btn btn-primary" id="survey-btn">
</form>

<!-- javascripts -->
<script>
  Survey.Survey.cssType = "bootstrap";

  var surveyJSON = {locale:"ko",pages:[{name:"page1",elements:[{type:"radiogroup",name:"question1",title:{ko:"모공이 크지 않다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}]},{name:"page2",elements:[{type:"radiogroup",name:"question2",title:{ko:"모공이 매우 작다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question1} = \"item2\""},{name:"page3",elements:[{type:"radiogroup",name:"question3",title:{ko:"모공이 매우 크다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question2} = \"item2\""},{name:"page4",elements:[{type:"radiogroup",name:"question4",title:{ko:"모공 크기가 적당하다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question3} = \"item2\""},{name:"page5",elements:[{type:"radiogroup",name:"question5",title:{ko:"모공 크기가 부분적으로 다르다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question4} = \"item2\""},{name:"page6",elements:[{type:"radiogroup",name:"question6",title:{ko:"눈 입 주위에 잔주름이 많다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question1} = \"item1\" or {question2} = \"item1\" or {question4} = \"item3\" or {question5} = \"item2\""},{name:"page7",elements:[{type:"radiogroup",name:"question7",title:{ko:"겨울철은 당기고 여름철은 유분이 많다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question1} = \"item3\" or {question4} = \"item1\" or {question6} = \"item2\""},{name:"page8",elements:[{type:"radiogroup",name:"question8",title:{ko:"피부가 두껍고 피지분비가 많다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question2} = \"item3\" or {question3} = \"item1\" or {question7} = \"item2\""},{name:"page9",elements:[{type:"radiogroup",name:"question9",title:{ko:"윤기가 업고 피부도 칙칙하다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question3} = \"item3\" or {question5} = \"item3\" or {question8} = \"item2\""},{name:"page10",elements:[{type:"radiogroup",name:"question10",title:{ko:"얼굴이 자주 빨개진다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question5} = \"item1\" or {question9} = \"item2\""},{name:"page11",elements:[{type:"radiogroup",name:"question11",title:{ko:"피부톤이 밝고 고른편이다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question10} = \"item3\" or {question10} = \"item3\" or {question6} = \"item1\" or {question20} = \"item2\""},{name:"page12",elements:[{type:"radiogroup",name:"question12",title:{ko:"환절기에 피부트러블이 생긴다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question11} = \"item2\" or {question6} = \"item3\" or {question7} = \"item1\""},{name:"page13",elements:[{type:"radiogroup",name:"question13",title:{ko:"피부톤이 전체적으로 어둡다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question12} = \"item2\" or {question8} = \"item1\" or {question7} = \"item3\""},{name:"page14",elements:[{type:"radiogroup",name:"question14",title:{ko:"세안 후 당기고 T존에는 유분이 많다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question13} = \"item2\" or {question8} = \"item3\" or {question9} = \"item1\""},{name:"page15",elements:[{type:"radiogroup",name:"question15",title:{ko:"얼굴이 많이 건조하다"},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question14} = \"item2\" or {question9} = \"item3\" or {question10} = \"item1\""},{name:"page16",elements:[{type:"radiogroup",name:"question16",title:{ko:"피부에 윤기가 없다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question11} = \"item1\" or {question12} = \"item3\""},{name:"page17",elements:[{type:"radiogroup",name:"question17",title:{ko:"나이에 비해 피부가 좋다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question16} = \"item2\" or {question15} = \"item2\" or {question12} = \"item1\" or {question13} = \"item3\""},{name:"page18",elements:[{type:"radiogroup",name:"question18",title:{ko:"화장이 잘 지워지고 유분이 많다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question17} = \"item2\" or {question11} = \"item3\" or {question13} = \"item1\" or {question14} = \"item3\""},{name:"page19",elements:[{type:"radiogroup",name:"question19",title:{ko:"T존 부위만 BB크림이 잘 지워진다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question18} = \"item2\" or {question14} = \"item1\" or {question15} = \"item3\""},{name:"page20",elements:[{type:"radiogroup",name:"question20",title:{ko:"피곤하면 트러블이 생긴다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question19} = \"item2\" or {question15} = \"item1\""},{name:"page21",elements:[{type:"radiogroup",name:"question21",title:{ko:"세안 후 얼굴이 전체적으로 당긴다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question16} = \"item1\""},{name:"page22",elements:[{type:"radiogroup",name:"question22",title:{ko:"메이크업을 하면 오래간다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question21} = \"item2\" or {question16} = \"item3\" or {question17} = \"item1\""},{name:"page23",elements:[{type:"radiogroup",name:"question23",title:{ko:"여드름성 트러블이 잘 일어난다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question22} = \"item2\" or {question18} = \"item1\""},{name:"page24",elements:[{type:"radiogroup",name:"question24",title:{ko:"얼굴이 부분적으로 번들거린다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question23} = \"item2\" or {question17} = \"item3\" or {question18} = \"item3\" or {question19} = \"item1\""},{name:"page25",elements:[{type:"radiogroup",name:"question25",title:{ko:"화장품이나 비누를 바꾸면 트러블이 생긴다."},choices:[{value:"item1",text:{ko:"예"}},{value:"item2",text:{ko:"아니오"}},{value:"item3",text:{ko:"모르겠다"}}]}],visibleIf:"{question24} = \"item2\" or {question18} = \"item1\" or {question20} = \"item1\""},{name:"page26",elements:[{type:"checkbox",name:"question26",title:{ko:"당신의 피부고민은 어떤 것인가요?"},choices:[{value:"item1",text:{ko:"주름"}},{value:"item2",text:{ko:"피지"}},{value:"item3",text:{ko:"잡티"}},{value:"item4",text:{ko:"넓은 모공"}},{value:"item5",text:{ko:"피부탄력 저하"}},{value:"item6",text:{ko:"아토피"}},{value:"item7",text:{ko:"여드름"}},{value:"item8",text:{ko:"건조한 피부"}},{value:"item9",text:{ko:"뾰루지"}},{value:"item10",text:{ko:"각질"}},{value:"item11",text:{ko:"기미"}},{value:"item12",text:{ko:"다크써클"}}]}]},{name:"page27",elements:[{type:"radiogroup",name:"question27",title:{ko:"평소 어느정도 수준의 맨즈메이크업을 하시나요?"},choices:[{value:"item1",text:{ko:"[무관심형] 화장품을 거의 사용하지 않는다 "}},{value:"item2",text:{ko:"[기초케어형] 스킨,로션,마스크팩"}},{value:"item3",text:{ko:"[심화케어형] 기초케어 + 엠플,세럼,크림 등"}},{value:"item4",text:{ko:"[적극적메이크업형] BB크림, 립밤(색조), 눈썹정리, 아이브로우 등"}},{value:"item5",text:{ko:"[아이돌형] 아이라인, 쉐도우, 컨실러 등"}}]}]}]}

  function sendDataToServer(survey) {
    //send Ajax request to your web server.
    var wrinkle = false;
    var sebum = false;
    var stain = false;
    var bigpore = false;
    var down = false;
    var atopy = false;
    var pimple = false;
    var skindry = false;
    var eruption = false;
    var deadcell = false;
    var freckle = false;
    var dark = false;

    // skintype
    if (survey.data['question21'] == 'item1'){
      document.getElementById("skintype").value = "건성피부";
    } else if (survey.data['question21'] == 'item3') {
      document.getElementById("skintype").value = "일반피부";
    } else if (survey.data['question22'] == 'item1') {
      document.getElementById("skintype").value = "일반피부";
    } else if (survey.data['question22'] == 'item3') {
      document.getElementById("skintype").value = "건성피부";
    } else if (survey.data['question23'] == 'item1') {
      document.getElementById("skintype").value = "지성피부";
    } else if (survey.data['question23'] == 'item3') {
      document.getElementById("skintype").value = "복합성피부";
    } else if (survey.data['question24'] == 'item1') {
      document.getElementById("skintype").value = "복합성피부";
    } else if (survey.data['question24'] == 'item3') {
      document.getElementById("skintype").value = "지성피부";
    } else if (survey.data['question25'] == 'item1') {
      document.getElementById("skintype").value = "민감성피부";
    } else if (survey.data['question25'] == 'item3') {
      document.getElementById("skintype").value = "복합성피부";
    }

    // usertype
    if (survey.data['question27'] == 'item1'){
      document.getElementById("usertype").value = "무관심형";
    } else if (survey.data['question27'] == 'item2'){
      document.getElementById("usertype").value = "기초케어형";
    } else if (survey.data['question27'] == 'item3'){
      document.getElementById("usertype").value = "심화케어형";
    } else if (survey.data['question27'] == 'item4'){
      document.getElementById("usertype").value = "적극적메이크업형";
    } else if (survey.data['question27'] == 'item5'){
      document.getElementById("usertype").value = "아이돌형";
    }

    // skin fault
    for (i=0; i < survey.data['question26'].length; i++){
      if (survey.data['question26'][i] == 'item1'){
        wrinkle = true;
      } else if (survey.data['question26'][i] == 'item2'){
        sebum = true;
      } else if (survey.data['question26'][i] == 'item3'){
        stain = true;
      } else if (survey.data['question26'][i] == 'item4'){
        bigpore = true;
      } else if (survey.data['question26'][i] == 'item5'){
        down = true;
      } else if (survey.data['question26'][i] == 'item6'){
        atopy = true;
      } else if (survey.data['question26'][i] == 'item7'){
        pimple = true;
      } else if (survey.data['question26'][i] == 'item8'){
        skindry = true;
      } else if (survey.data['question26'][i] == 'item9'){
        eruption = true;
      } else if (survey.data['question26'][i] == 'item10'){
        deadcell = true;
      } else if (survey.data['question26'][i] == 'item11'){
        freckle = true;
      } else if (survey.data['question26'][i] == 'item12'){
        dark = true;
      }
    }

    //skinfault
    document.getElementById("wrinkle").value = wrinkle;
    document.getElementById("sebum").value = sebum;
    document.getElementById("stain").value = stain;
    document.getElementById("bigpore").value = bigpore;
    document.getElementById("down").value = down;
    document.getElementById("atopy").value = atopy;
    document.getElementById("pimple").value = pimple;
    document.getElementById("skindry").value = skindry;
    document.getElementById("eruption").value = eruption;
    document.getElementById("deadcell").value = deadcell;
    document.getElementById("freckle").value = freckle;
    document.getElementById("dark").value = dark;

    $('#survey-btn').attr('type', 'submit');
  }

  var survey = new Survey.Model(surveyJSON);
  $("#surveyContainer").Survey({
    model: survey,
    onComplete: sendDataToServer
  });

// 얼굴 인식 스크립트
  ;window.Modernizr=function(a,b,c){function B(a,b){var c=a.charAt(0).toUpperCase()+a.substr(1),d=(a+" "+n.join(c+" ")+c).split(" ");return A(d,b)}function A(a,b){for(var d in a)if(j[a[d]]!==c)return b=="pfx"?a[d]:!0;return!1}function z(a,b){return!!~(""+a).indexOf(b)}function y(a,b){return typeof a===b}function x(a,b){return w(m.join(a+";")+(b||""))}function w(a){j.cssText=a}var d="2.0.6",e={},f=b.documentElement,g=b.head||b.getElementsByTagName("head")[0],h="modernizr",i=b.createElement(h),j=i.style,k,l=Object.prototype.toString,m=" -webkit- -moz- -o- -ms- -khtml- ".split(" "),n="Webkit Moz O ms Khtml".split(" "),o={},p={},q={},r=[],s=function(){function d(d,e){e=e||b.createElement(a[d]||"div"),d="on"+d;var f=d in e;f||(e.setAttribute||(e=b.createElement("div")),e.setAttribute&&e.removeAttribute&&(e.setAttribute(d,""),f=y(e[d],"function"),y(e[d],c)||(e[d]=c),e.removeAttribute(d))),e=null;return f}var a={select:"input",change:"input",submit:"form",reset:"form",error:"img",load:"img",abort:"img"};return d}(),t,u={}.hasOwnProperty,v;!y(u,c)&&!y(u.call,c)?v=function(a,b){return u.call(a,b)}:v=function(a,b){return b in a&&y(a.constructor.prototype[b],c)},o.canvas=function(){var a=b.createElement("canvas");return!!a.getContext&&!!a.getContext("2d")},o.draganddrop=function(){return s("dragstart")&&s("drop")},o.rgba=function(){w("background-color:rgba(150,255,150,.5)");return z(j.backgroundColor,"rgba")},o.borderradius=function(){return B("borderRadius")},o.opacity=function(){x("opacity:.55");return/^0.55$/.test(j.opacity)},o.webworkers=function(){return!!a.Worker};for(var C in o)v(o,C)&&(t=C.toLowerCase(),e[t]=o[C](),r.push((e[t]?"":"no-")+t));e.addTest=function(a,b){if(typeof a=="object")for(var d in a)v(a,d)&&e.addTest(d,a[d]);else{a=a.toLowerCase();if(e[a]!==c)return;b=typeof b=="boolean"?b:!!b(),f.className+=" "+(b?"":"no-")+a,e[a]=b}return e},w(""),i=k=null,e._version=d,e._prefixes=m,e._domPrefixes=n,e.hasEvent=s,e.testProp=function(a){return A([a])},e.testAllProps=B;return e}(this,this.document),Modernizr.addTest("file",function(){return!!(window.File&&window.FileList&&window.FileReader)});

  agent = (function( ua ) {
  ua = ua.toLowerCase();

  rwebkit = /(webkit)[ \/]([\w.]+)/;
  ropera = /(opera)(?:.*version)?[ \/]([\w.]+)/;
  rmsie = /(msie) ([\w.]+)/;
  rmozilla = /(mozilla)(?:.*? rv:([\w.]+))?/;

  var match = rwebkit.exec( ua ) ||
        ropera.exec( ua ) ||
        rmsie.exec( ua ) ||
        ua.indexOf("compatible") < 0 && rmozilla.exec( ua ) ||
        [];

  return { browser: match[1] || "", version: match[2] || "0" };
  })(navigator.userAgent);

  var async = false;

  if (Modernizr.webworkers) {
  async = (agent.browser == "mozilla");
  document.getElementById("webworker-switch").innerHTML = (async) ? "On" : "Off";
  document.getElementById("webworker-switch").addEventListener("click", function (e) {
    if (async) {
      async = false;
      document.getElementById("webworker-switch").innerHTML = "Off";
    } else {
      async = true;
      document.getElementById("webworker-switch").innerHTML = "On";
    }
  });
  }

  function getImageDim(image) {
  var result = {};
  document.body.appendChild(image);
  result['width'] = image.offsetWidth;
  result['height'] = image.offsetHeight;
  document.body.removeChild(image);
  return result;
  }

  function detectNewImage(src, async) {
  document.getElementById("load-time").innerHTML = "Measuring ...";
  document.getElementById("detection-time").innerHTML = "None";
  document.getElementById("num-faces").innerHTML = "?";
  document.getElementById("image-dim").innerHTML = "?x?";
  var elapsed_time = (new Date()).getTime();
  var image = new Image();
  var canvas = document.getElementById("output");
  var ctx = canvas.getContext("2d");
  image.onload = function () {
    /* load image, and draw it to canvas */
    document.getElementById("load-time").innerHTML = Math.round((new Date()).getTime() - elapsed_time).toString() + "ms";
    document.getElementById("detection-time").innerHTML = "Measuring ...";
    var dim = getImageDim(image);
    document.getElementById("image-dim").innerHTML = dim.width.toString() + "x" + dim.height.toString();
    var boundingWidth = document.getElementById("content").offsetWidth - 4;
    var boundingHeight = window.innerHeight - (document.getElementById("header").offsetHeight + document.getElementById("footer").offsetHeight + document.getElementById("urlbox").offsetHeight + document.getElementById("stats").offsetHeight) - 120;
    var viewport = document.getElementById("viewport");
    var newWidth = dim.width, newHeight = dim.height, scale = 1;
    if (dim.width * boundingHeight > boundingWidth * dim.height) {
      newWidth = boundingWidth;
      newHeight = boundingWidth * dim.height / dim.width;
      scale = newWidth / dim.width;
    } else {
      newHeight = boundingHeight;
      newWidth = boundingHeight * dim.width / dim.height;
      scale = newHeight / dim.height;
    }
    viewport.style.width = newWidth.toString() + "px";
    viewport.style.height = newHeight.toString() + "px";
    canvas.width = newWidth;
    canvas.style.width = newWidth.toString() + "px";
    canvas.height = newHeight;
    canvas.style.height = newHeight.toString() + "px";
    ctx.drawImage(image, 0, 0, newWidth, newHeight);
    elapsed_time = (new Date()).getTime();
    function post(comp) {
      document.getElementById("num-faces").innerHTML = comp.length.toString();
      document.getElementById("detection-time").innerHTML = Math.round((new Date()).getTime() - elapsed_time).toString() + "ms";
      ctx.lineWidth = 2;
      ctx.strokeStyle = 'rgba(230,87,0,0.8)';
      /* draw detected area */
      for (var i = 0; i < comp.length; i++) {
        ctx.beginPath();
        ctx.arc((comp[i].x + comp[i].width * 0.5) * scale, (comp[i].y + comp[i].height * 0.5) * scale,
            (comp[i].width + comp[i].height) * 0.25 * scale * 1.2, 0, Math.PI * 2);
        ctx.stroke();
      }
    }
    /* call main detect_objects function */
    if (async) {
      ccv.detect_objects({ "canvas" : ccv.grayscale(ccv.pre(image)),
                 "cascade" : cascade,
                 "interval" : 5,
                 "min_neighbors" : 1,
                 "async" : true,
                 "worker" : 1 })(post);
    } else {
      var comp = ccv.detect_objects({ "canvas" : ccv.grayscale(ccv.pre(image)),
                      "cascade" : cascade,
                      "interval" : 5,
                      "min_neighbors" : 1 });
      post(comp);
    }
  };
  image.src = src;
  }

  function handleLocalFile(file) {
  if (file.type.match(/image.*/)) {
    var reader = new FileReader();
    reader.onload = function (e) {
      detectNewImage(e.target.result, async);
    };
    reader.readAsDataURL(file);
  }
  }

  document.getElementById("viewport").addEventListener("dragover", function (e) {
  e.stopPropagation();
  e.preventDefault();
  document.getElementById("view-hint").style.zIndex =
    document.getElementById("view-horz").style.zIndex =
      document.getElementById("view-vtic").style.zIndex = "1000";
  }, false);

  if (agent.browser == "mozilla") {
  document.getElementById("file-selector").style.display = "none";
  document.getElementById("file-selector").addEventListener("click", function (e) {
    e.stopPropagation();
    e.preventDefault();
  }, false);
  document.getElementById("viewport").addEventListener("click", function (e) {
    e.stopPropagation();
    e.preventDefault();
    document.getElementById("file-selector").click();
  }, false);
  }

  document.getElementById("viewport").addEventListener("mouseover", function (e) {
  document.getElementById("view-hint").style.zIndex =
    document.getElementById("view-horz").style.zIndex =
      document.getElementById("view-vtic").style.zIndex = "1000";
  });

  document.getElementById("viewport").addEventListener("mouseout", function (e) {
  document.getElementById("view-hint").style.zIndex =
    document.getElementById("view-horz").style.zIndex =
      document.getElementById("view-vtic").style.zIndex = "0";
  });

  document.getElementById("file-selector").addEventListener("change", function (e) {
  var files = this.files;
  if (files.length)
    handleLocalFile(files[0]);
  });

  document.getElementById("viewport").addEventListener("drop", function (e) {
  e.stopPropagation();
  e.preventDefault();

  var files = e.dataTransfer.files;

  if (files.length)
    handleLocalFile(files[0]);

  document.getElementById("view-hint").style.zIndex =
    document.getElementById("view-horz").style.zIndex =
      document.getElementById("view-vtic").style.zIndex = "0";
  }, false);

  document.getElementById("url-image").addEventListener("focus", function (e) {
  document.getElementById("url-hint").style.visibility = "hidden";
  });

  document.getElementById("url-image").addEventListener("blur", function (e) {
  if (document.getElementById("url-image").value.length <= 0)
    document.getElementById("url-hint").style.visibility = "visible";
  });

  document.getElementById("url-detect").addEventListener("click", function(e) {
  var url = document.getElementById("url-image").value;
  if (url.length > 0) {
    window.location.hash = "#" + encodeURIComponent(url);
    detectNewImage("loader.php?src=" + encodeURIComponent((url.substr(0, 7).toLowerCase() == "http://") ? url : "http://" + url), async);
  }
  });

  var url = window.location.hash.substr(1);
  if (url.length > 7) {
  document.getElementById("url-image").value = decodeURIComponent(url);
  document.getElementById("url-hint").style.visibility = "hidden";
  }
</script>
