<%= form_for([@manual, @manual.comments.build], class:"form-inline my-2 my-lg-0") do |f| %>
  <div class="">
    <%= f.text_field :body,
        class: "comm-text-ar",
        autocomplete: "off",
        id: "exampleFormControlTextarea1",
        rows: "3" %>
  </div>
  <% if user_signed_in? %>
    <%= f.submit "댓글작성", class:"comm-btn" %>
  <% elsif %>
    <a href="<%= new_user_session_path %>" class="comm-btn">댓글작성</a>
  <% end %>
<% end %>
