<h3 align="center" class="custom-category-title custom-category-header">
  <% if user_signed_in? %>
    <span style="color: #1A2E65;"><%= current_user.nickname %></span> 님의 맞춤제품 정보입니다.
  <% end %>
</h3>
<p align="center" class="custom-title-below" style="color: #7F8C8D;">
  <span class="badge badge-pill badge-success">
  </span>
  <span class="badge badge-pill badge-success">
  </span>
  <% box =['atopy', 'pimple', 'allergy', 'bb', 'lip', 'eyebrow', 'eyeline'] %>
  <% box.each do |key| %>

  <% end %>정보를 반영했습니다.
  <br>
</p>
