<!-- <p class="sos-me">
현재 버전은 데모버전이며, 현재 페이지는 준비중에 있습니다. <br>
빠른 시간 안에 알파버전으로 찾아뵙겠습니다. 감사합니다.<br>
<br>
문의사항이 있으시다면 아래 페이스북 페이지로 문의 부탁드립니다!<br>
<a class="aaaaaaa" href="https://www.facebook.com/manspouch">https://www.facebook.com/manspouch</a>
</p> -->

<%= render "header" %>
<%= render "article" %>