<div class="manu_top1">
  <span class="manu_t1">뷰티 설명서</span><br>
  <span class="manu_t2">모두 ∙ 피부 ∙ 화장 ∙ 바디 ∙ 헤어</span>
</div>
<div class="item-container">
  <div class="item-each"></div>
  <div class="item-each"></div>
  <div class="item-each"></div>
  <div class="item-each"></div>


</div>