<div class="users-logback"></div>
<div class="users-login">
  <div class="user1_1">안녕하세요!</div>
  <div class="user1_2">나만의 파우치를<br>열어보세요</div>
  <div class="users-wrap">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="users-form">
        <%= f.input :email, autofocus: true, placeholder: "이메일", label: false, input_html: { autocomplete: 'off' }, class: "users-id" %>
        <%= f.input :password, placeholder: "비밀번호", label: false, class: "regi-input" %>
        <br><br>
      </div>
        <%= f.button :submit, "로그인", class: "regi-submit-btn" %>
        <a href="/users/sign_up"><div class="users-join-btn">회원가입</div></a>
    <% end %>
  </div>
</div>
