/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* left-box */

body { background: #fafafa; }
.left-box {
  position: fixed;
  left: 0;
  height: 100%;
  width: 240px;
  padding: 30px;
  background: #fff;
  border-right: 1px solid #efefef;
}
.left-logo img { width: 80%; margin: 0 auto; }
.left-my-btn {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 90%;
  margin: 0 auto;
}
.left-nav {
  position: relative;
}
.left-user {
  position: relative;
}

/* main-container */
.main-container {
  margin-left: 300px;
  padding: 30px;
}
.deco-img {
  position: absolute;
  right: 0;
  top: 0;
}
