@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
body, input{ font-family: 'Noto Sans KR', sans-serif; }
a { text-decoration: none; color: black; }

/* home-box 1 */
.home-box1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 3em;
  letter-spacing: -3px;
  font-weight: 700;
  line-height: 1.3em;
}

/* home-box 2 */
.home-box2 {
  display: flex;
  justify-content: left;
}
.home-inner-box {
  width: 50%;
  font-size: 1.3em;
  letter-spacing: -2px;
  font-weight: 400;
}
.main-comm2 {
  padding-bottom: 50px;
}
.inner-btn {
  display: block;
  width: 250px;
  height: 55px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 55px;
  border-radius: 35px;
  background: linear-gradient(to left,#66a6ff,#74c6ff);
}
.inner-btn:hover { opacity: 0.5; }
.home-line {
  width: 300px;
  border-bottom: 1px solid #dbdbdb;
}

/* home-box 3 */
.home-box3 {
  margin-top: 60px;
}
.home-hbox {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
}
.home-t {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -2px;
  margin-right: 10px;
}
.home-title-1 {
  width: 140px;
  height: 40px;
}
.home-more {
  display: block;
  width: 90px;
  height: 30px;
  margin-top: 5px;
  color: #fff;
  letter-spacing: -2px;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  background: darkorange;
  border-radius: 20px;
}

.swiper-slide {
  width: 320px !important;
  height: 280px !important;
}
.swiper-slide:hover { opacity: 0.5; }
.swiper-img {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.swiper-img img { width: 100%; height: 100%; }
.swiper-bottom {
  background: #fff;
  padding: 0 10px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: left;
  line-height: 40px;
}
.swiper-bottom img {
  width: 25px;
}
.home-star { margin-top: 5px; }
.sb-fir {
  width: 160px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
.sb-sec {
  width: 160px;
  text-align: right;
}

/* hoem-box 4 */
.home-article {
  margin-bottom: 50px;
  /* height 80px는 여분 공간 */
}
.home-title-2 {
  width: 90px;
  height: 40px;
}
.ho-m-ca {
  color: #83ACCE;
  font-size: 18px;
}

////////////////////////////////////////////////////////////////////////////////
// /* banner */
// .main-banner-wrap {
//   height: 300px !important;
//   overflow: hidden;
//   margin-bottom: 20px;
// }
//
// /* 남파의 데이터 */
// .main-article-logo img {
//   width: 200px;
//   display: block;
//   margin: 20px auto 0 auto;
// }
// .count-box-wrap { margin: 50px 0 20px 0; }
// .count-boxes-outer {
//   width: 150px;
//   margin: 0 40px;
// }
// .count-boxes {
//   width: 150px;
//   height: 150px;
//   background: #555;
//   border-radius: 50%;
//
// }
// .count-boxes img {
//   width: 80px;
//   line-height: 150px;
//   display: block;
//   margin: 0 auto;
// }
// .count-boxes img:hover {
//   opacity: 0.5;
// }
// .count-text {
//   margin-top: 20px;
//   font-size: 0.8em;
//   font-family: 'Binggrae-Bold';
//   text-align: center;
// }
// .counting {
//   font-size: 2em;
//   font-family: 'Binggrae-Bold';
//   text-align: center;
// }
//
// /* 최근 제품/제품 */
// .home-eye-span { display:block; margin-top: 5px; }
// .main-article-1 {
//   background: #fff;
//   padding: 20px;
//   margin-bottom: 20px;
// }
// .main-article-1>h3 {
//   margin-bottom: 15px;
//   font-family: 'Binggrae-Bold';
// }
// .main-article-card {
//   border-radius: 0!important;
// }
// .main-article-card .card-body {
//   padding: 0 10px 10px 10px !important;
// }
// .main-article-card .card-body img { width: 100%; height: 150px; }
// .manual-card-header { margin-bottom: 10px!important; }
// .manual-card-bottom { border: 1px solid #efefef; padding-top: 10px; }
// .manual-card-bottom p { text-align: center; }
// .manual-card-bottom p strong { display:block; }
// .manual-card-bottom-wrap { padding: 0 10px; }
// .manual-card-bottom-wrap a { text-decoration: none !important; color: black; }
// .manual-card-bottom-wrap a .manual-card-bottom:hover { color: black; background: #efefef; border-color: #fff; }
