/* index */
.manu_t1{
    font-size:4em;
    letter-spacing: -4px;
    font-weight:100;
}
.manu_t2 a {
    padding-left:5px;
    font-size:1.7em;
    color:#aaa;
    letter-spacing: -2px;
    font-weight:700;
}
.manu_top1 ul {
  display: flex;
  justify-content: left;
}

.item-container{
    margin-top:50px;
    display: flex;
    justify-content: space-around;
    padding-right:60px;
    flex-wrap: wrap;
}
.item-each{
    overflow: hidden;
    width:300px;
    height:350px;
    background:#fff;
    border : 1px solid #eee;
    margin:40px 20px;
    border-radius: 30px;
    box-shadow: 0 45px 25px -30px rgba(0,0,0,0.1);
}

.m-img-box {
  width: 100%;
  height: 216px;
  background: #999;

}
.m-a-t-b {
  box-sizing: border-box;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  padding: 13px 15px 13px 15px;
  display: block;
  width: 300px;
  height: 60px;
  position: absolute;
  top: 40;
  left: 40;
  z-index: 99;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 20px;
}
.m-a-t-b2 {
  background: #fff;
  opacity: 0.7;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  position: absolute;
  width: 300px;
  height: 60px;
  z-index: 98;
}
.m-img-box img {
  width: 100%; height: 100%;

}

.m-box2 {
  height: 10%;
  padding: 15px 0 10px 5px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.m-box2 a {
  width: 60px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.m-box2 a img {
  width: 25px;
}
.m-like-c {
  width: 20px;
  margin-left: 10px;
}
.m-time {
  margin-left: 15px;
}
.m-box3 {
  box-sizing: border-box;
  width: 100%;
  height: 19%; border-bottom: 1px solid #fafafa;
  padding: 10px 20px;
  text-align: center;
  line-height: 43px;
}
.m-box3-s {
  font-size: 18px;
  background: skyblue;
  padding: 5px 10px;
  border-radius: 18.5px;
  color: #fff;
}

/* show */
.sh-wrap { margin-top: 40px; padding-right: 100px; }
.sh-m-t1 { margin-bottom: 10px; }
.sh-m-t-a {
  font-size: 28px;
  font-weight: 400;

}
.sh-m-user { font-size: 18px; color: #9BD8FF; }
.sh-m-ca { }
.sh-md-line {
  width: 100%;
  border-bottom: 2px solid #efefef;
  margin-top: 40px;
  margin-bottom: 40px;
}
.sh-m-con {
  width: 100%;
  margin-bottom: 40px;
}
.sh-bt-line {
  border-bottom: 2px solid #efefef;
  margin-bottom: 40px;
  width: 100%;
}
.sh-com-box {
  width: 100%;
}
.comm-btn {
  display: block;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  line-height:40px;
  font-size:20px;
  font-weight: 700;
  letter-spacing: -0.5px;
  background:#bb9bee;
  padding: 0;
  width:150px;
  height:40px;
  color:white;
  border:0;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
} .comm-btn:hover { opacity: 0.5; }
.comm-text-ar {
  margin-top: 35px;
  display: block;
  width: 70%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.com-in-box { width: 75%; display: flex; justify-content: left; }
.com-in-box-in1 { width: 700px; }
.com-in-box-in2 { width: 150px; }
.comm-u-ww {
  color: #555;
  font-size: 16px;
  font-weight: 500;
}
.comm-u-na {
  color: #6BB4DC;
  font-size: 16px;
  font-weight: 500;
}
.comm-c-ti {
  font-size: 14px;
  font-weight: 100;
  color: #888;
}
.comm-line {
  width: 75%;
  border-bottom: 2px solid #efefef;
  margin: 20px 0;
}
.com-del-btn {
  display: block;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  line-height:30px;
  font-size:18px;
  font-weight: 400;
  letter-spacing: -0.5px;
  background:#bb9bee;
  width: 80px;
  height: 30px;
  color:white;
  border:0;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
} .com-del-btn:hover { opacity: 0.5; }
