@media screen and (min-width:1px) {
  .mt_1{
    font-size:2em;
    color:#bbb;
    letter-spacing: -2px;
  }
  .mt_2{
    font-size:4em;
    letter-spacing: -2px;
  }

  .my_top2{
    margin-top:40px;
    margin-right:60px;
    display:flex;
  }
  .m_faceimg{
    margin: 0 auto;
    text-align: center;
    img{
      width:70%;
      height:70%;
      margin-bottom: 10px;
    }
    a:hover { color: lightblue; }
  }
  .m_flex_type{
    margin: 0 auto;
    text-align: center;
    span{
      color:white !important;
    }
  }
  .m_flex{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    margin-right:30px;
    background:#fff;
    border:1px solid #ddd;
  }
  .m_flex_result{
    display:flex;
    justify-content: center;
    align-items: left;
    flex:1;
    margin-right:30px;
    background:#fff;
    border:1px solid #ddd;
    div{
      padding-left:10%;
      margin-bottom: 30px;
      font-size:1.5em;
      font-weight:700;
      .my-skinpro {
        background: darkorange;
        font-size: 0.5em;
        padding: 5px 10px;
        color: #fff;
        border-radius: 5px;
      }
      .my-skinpro-a {
        background: lightblue;
        font-size: 0.5em;
        padding: 5px 10px;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
  .m_top3{
    display:flex;
    margin-top:30px;
    div{
        font-size:1.7em;
        font-weight:700;
    }
  }
  .m_3{
    width:49%;
    .m_3_p { margin-bottom: 20px; }
    .m_3_in {
      .m_3_in_w {
        width: 100%;
        display: flex;
        justify-content: left;
        margin-bottom: 20px;

        .m_3_in_img {
          background: #fff;
          width: 140px;
          height: 105px;
          overflow: hidden;
          position: relative;
          a {
            width: 100%;
            img {
              position: absolute;
              width: 140px;
              height: 100%;
            }
          }
        }

        .m_3_in_t {
          padding: 0 15px 10px 15px;
          width: 460px;
          font-size: 12px;
          .m_t_t {
            margin-bottom: 5px;
            font-size: 1.7em;
          }
          .m_t_t2 {
            line-height: 28px;
            .m_t_s {
              color: #fff;
              border-radius:10px;
              margin-right: 5px;
              padding: 2px 8px;
            }
          }
        }
      }
    }
    .m_3c {
      width: 100%;
      display: flex;
      justify-content: left;
      .m_c_b {
        background: #fff;
        border: 1px solid #efefef;
        font-size: 12px;
        margin: 0 10px;
        width: 40%;
        .m_c_img {
          width: 100%;
          img { width: 100%; }
        }
        .m_c_tb {
          font-size: 1.5em;
          text-align: center;
          line-height: 30px;
          padding: 5px 10px 10px 10px;
        }
        .m_c_tb2 {
          text-align: center;
          padding: 5px 10px 15px 10px;
          .m_t_s2 {
            color: #fff;
            border-radius:17px;
            padding: 2px 5px;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: -2px;
            display: block;
            width: 90px;
            text-align: center;
            margin: 0 auto;
          }
        }
        .m_c_tb3 {
          text-align: center;
          padding-bottom: 15px;
        }
      }
    }
  }

  .m_3mid{
      width:2%;
      height:300px;
      border-left: 1px solid #ddd;
  }
  .btn_mmore{
      margin-left:10px;
      position: relative;
      top:-5px;
      font-size:12px;
      padding:5px 20px 5px 20px;
      color : white;
      background:#93abe2;
      border-radius: 50px;
  }
  .myp-txt-p { font-size: 20px; font-weight: 500; letter-spacing: -2px; }



}

@media screen and (max-width:0px) {
}
