.m-box2-n {
  height: 10%;
  padding: 15px 0 10px 5px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.m-box2-n span {
  font-size: 20px;
}
.custom-p-b {
  font-weight: 700;
  color: darkblue;
}
