<div class="">
  <% @products.each do |product| %>
    <div class="">
      <h4><%= product.title %></h4>
      <p><%= product.category %></p>
      <%= link_to image_tag(product.image.url(:thumb)), product_path(product) %>
    </div>
  <% end %>
</div>
